[MASTER]
ignored-modules=cv2

[MESSAGES CONTROL]
disable =
    super-with-arguments,
    trailing-whitespace,
    missing-docstring,
    superfluous-parens,
    invalid-name,
    line-too-long,
    too-many-arguments,
    too-many-branches,
    too-many-statements,
    too-many-locals,
    too-few-public-methods,
    duplicate-code

# allow non-snake-case identifiers:
good-names=n,i

