ocrd >= 2.20.0
shapely >= 1.7.1
scikit-image
numpy
fuzzywuzzy[speedup]
opencv-python-headless
# We cannot use constructs like these when passing directly to setuptools.
# So instead of explicating imgaug here, let's rely on mask-rcnn for it.
# imgaug --no-binary imgaug # workaround imgaug#473 (opencv-python/headless)
pycocotools >= 2.0.2
mask-rcnn@git+https://github.com/bertsky/Mask_RCNN#egg=mask-rcnn-2.1
xlsxwriter
