ocrd >= 2.20.0
shapely >= 1.7.1
scikit-image
numpy
rapidfuzz
opencv-python-headless
# We cannot use constructs like these when passing directly to setuptools.
# So instead of explicating imgaug here, let's rely on mask-rcnn for it.
# imgaug --no-binary imgaug # workaround imgaug#473 (opencv-python/headless)
# 
#pycocotools >= 2.0.3
# Not well maintained - neither cocodataset (upstream) nor ppwwyyxx (current PyPI pusher)
# have all fixes and Nvidia's recent performance improvements, but the latter is not
# on PyPI at all (and git+https does not work either, because setup.py is not in the root)
#pycocotools@git+https://github.com/NVIDIA/cocoapi@v0.6.0
#pycocotools@git+https://github.com/bertsky/pycocotools#subdirectory=PythonAPI
ocrd-fork-pycocotools
mask-rcnn@git+https://github.com/bertsky/Mask_RCNN#egg=mask-rcnn-2.1
